body {
  background-color: #f4f4f4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}

header.hero {
  background-color: #1e1e2f;
  color: white;
  padding: 40px 0;
}

.subtitle {
  font-size: 18px;
  color: #ccc;
}

.highlight {
  font-style: italic;
  color: #bbb;
  margin-top: 10px;
}

.profile-img {
  border-radius: 5%;
  width: 150px;
  height: 200px;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.skills-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os botões "quebrem" linha em telas menores */
  gap: 10px; /* Espaçamento entre os botões */
  justify-content: flex-start; /* Alinhamento horizontal */
}

.skill-button {
  flex: 1 1 120px; /* Faz o botão crescer ou diminuir, mínimo 120px */
  max-width: 150px; /* Limita o tamanho máximo */
  padding: 10px 0;
  text-align: center;
  background-color: #1a1b2a;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.skill-button:hover {
  background-color: #333650;
}


.project {
  background-color: #fff;
  border-left: 5px solid #1e1e2f;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project h3 {
  margin-top: 0;
}

.project a {
  color: #1e1e2f;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: hsl(202, 82%, 52%);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background-color: hsl(202, 82%, 52%);
}

footer {
  background-color: #1e1e2f;
  color: white;
  text-align: center;
  padding: 20px 0;
}
